body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 40px auto 40px;
  grid-gap: 3px;
  grid-template-areas:
       "m h h h h h h h h h h h"
       "m c c c c c c c c c c c"
       "m f f f f f f f f f f f";
}

.header {
  grid-area: h;
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  grid-area: c;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  grid-area: m;
}

.footer {
    grid-area: f;
}

@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }

}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

aside,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 5vw;
}
