body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 40px auto 40px;
  grid-gap: 3px;
  grid-template-areas:
       "c c c c c c c c c c c m"
       "c c c c c c c c c c c m"
       "f f f f f f f f f f f m";
}

.header {
  margin: 5% 0 0 5%;
  color: yellow;
  font-size: 2vw;
  font-family: 'Poppins', 'Helvetica', sans-serif;
  grid-area: c;
  z-index: 100;
  display: flex;
}

.main {
  grid-area: c;
  height: 75vh;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  grid-area: m;
  background-color: #A2E4F2;
  padding: 10px;
}

.form-label {
  line-height: 1.4vw;
  font-size: .8rem;
}

.footer {
    grid-area: f;
    font-weight: bold;
    background-color: #F0E799;
}

#button {
  margin-top: 10px;
  background-color: #109AF5;
  color: white;
  border-style: none;
  padding: 5px;
  font-family: 'Poppins', 'Helvetica', sans-serif;
}

@media (max-width: 700px) {


  aside {
    grid-column: 1 / span 5;
  }

}

/* Demo Specific Styles */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

aside,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 2vw;
}
